.ProductsPreview{
    margin: 1em;
    .img-product{
        padding: 0.5em;
    }
    .name-product{
        border-bottom: 1px solid #CCC;
        padding: 0.25em 0.5em;
        font-weight: bold;
        background-color: #eee;
    }
    .category-name{
        padding: 0.5em;
    }
    .price-product{
        padding: 0.5em;
    }
}